<%- include('../includes/head') %>
   <%- include('../includes/header') %>
       
   <% if (data.length > 0) {%>
                <div class="center">
                  <h1>Images are sorted by size.</h1>
                  <% data.forEach(item => {%>
                        <h3>
                           Image Size:  <%=item.fileSizeBytes%>
                        </h3>
                    <div class="item-center">
                        <img class="main_img" src="<%=item.url%>" alt="rasm bo'lishi kerak edi.">
                    </div>
                    <% })%>
            <% } else { %>
                <h1>No image found</h1>
                <% } %>
            </div>
</body>
</html>