<%- include('../includes/head') %>
  <%- include('../includes/header') %>
       
    <div class="center form_class">
      <h3 id="fileSizeBytes">
        Image Size: <%- data.fileSizeBytes %>
      </h3>
      <div class="item-center">
        <img class="main_img" src="<%- data.url %>" id="imageUrl" alt="rasm bo'lishi kerak edi.">
      </div>
      <form action="/" method="POST">
        <button type="submit" class="button button2">Save Image</button>
      </form>
    </div>

</body>
</html>