<div class="topnav">
 <a class="<%= path === '/' ? 'active' : '' %> "  href="/">Home</a>
 <a class="<%= path === '/all' ? 'active' : '' %>" href="/all">All</a>
 <div class="search-container">
   <form action="/action_page.php">
     <input type="text" placeholder="Search.." name="search">
     <button type="submit" class="button2">Submit</button>
   </form>
 </div>
</div>